@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
    background-image: url("./slika-tvornice-dron-e1551885367975.jpg");
}

#headline {
    color: whitesmoke;
    margin-bottom: 20px;
    text-decoration: underline;
}

.login-button {
    background-color: #5ccbcb;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 20px;
}

.login-button:hover {
    cursor: pointer;
    background-color: #046c94;
    color: #fff;
}