<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/admin_panel.css" />
    <title>Admin Panel</title>
  </head>

  <h1>Admin Panel | EMERUS</h1>
  <div class="wrap-input100 input100-select"></div>

  <div class="table-wrapper">
    
        <table class="fl-table">
          <thead style="text-align: center">
            <tr>
              <th>ID</th>
              <th>Ime i prezime</th>
              <th>Problem</th>
              <th>Hitno?</th>
              <th>Opis kvara</th>
              <th>Datum</th>
              <th>Vrijeme</th>
              <th>Rješenje</th>
            </tr>
          </thead>
          <div>
      {% for row in data %}
      <div>
          <tbody>
            <tr>
              <td>{{row[0]}}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
              <td>{{ row[6] }}</td>

              <td><input type="text" id="fname" name="fname" /></td>
            </tr>
          </tbody>
      {% endfor %}

          <tbody></tbody>
        </table>
    
  </div>
</html>
