<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/admin_panel.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>ADMIN PANEL | EMERUS</h1>
    <div>
      <div>
        {% for row in data %}
        <p>{{ row[0] }}</p>
        <p>{{ row[1] }}</p>
        <p>{{ row[2] }}</p>
        <p>{{ row[3] }}</p>
        <p>{{ row[4] }}</p>
        <br />
        {% endfor %}
      </div>
    </div>
  </body>
</html>
