<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Hvala!</title>
  </head>
  <body>
    <div class="container-contact100">
      <div class="wrap-contact100">
        <span class="contact100-form-title" id="naslov">
        </span>
    <div class="container">
      <h1>Hvala!</h1>
      <div class="wrap-input100 input100-select"></div>
      <h2>IT sektor će se pobrinuti za problem.</h2>
    </div>
    <form style="text-align: center" action="/">
      <button id="nazad">Kliknite ovdje za povratak</button>
    </form>
  </body>
</html>
